<nav id="sidebar">
    <div class="sidebar-header">
        <h2>AESTHETICA</h2>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/window_shop">Window Shop</a>
        </li>

        <li>
            <a href="/my_closet">My Closet</a>
        </li>
        <li>
            <a href="/">Log Out</a>
        </li>
    </ul>
</nav>
