<nav id="sidebar">
    <div class="sidebar-header">
        <h2>AESTHETICA</h2>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="/window_shop">Window Shop</a>
        </li>

        <li>
            <a href="/my_closet">My Closet</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</nav>
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>

        </div>
    </nav>
</div>