
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


form.signup,
form.login {
  margin-top: 50px;
}


.container{
  background: #9c9fa5;
  margin-top: 100px;
  border-radius: 25px;
  padding: 10px;
  align-self: center;
}

h2{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
p{
  text-align: center;
}

