@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    text-align: center;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

footer{
    text-align: center;
    color: #767a83;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.btn-dark {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.toggle-btn {
    margin: 15px 0 0 15px;
}

#sidebar {
    width: 250px;
    top: 0;
    left: 0;
    background-color: rgba(100, 99, 99, 0.5);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(85, 82, 82);
    background: #fff;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}