    <div class="about-section">
        <div class="inner-container">
            <h1>Aesthetica</h1>
            <p class="text"> 
                Aesthetica is a user friendly and interactive app that bridges 
                fashion and community. Users can build a unique profile secured 
                with a username and password. We tackle the hassle of filtering 
                products based on user’s shopping preferences which can then be 
                pinned to their profile. Aesthetica stands out amongst its competitors 
                by adding a community. Users can talk to like-minded shoppers 
                by leaving comments on their posts.
            </p>
            <div class="skills">
                <span><a href="/">Home</a></span>
                <span><a href="/window_shop">Window Shop</a></span>
                <span><a href="/signup">Sign Up</a></span>
            </div>
        </div>
    </div>