<ul>
	<li><a href="./about.html" data-text="Etica">Aesthetica</a></li>
	<li><a href="./signup.html" data-text="Etica">Join</a></li>
	<li><a href="./login.html" data-text="Etica">Login</a></li>
	<li><a href="./shop.html" data-text="Etica">Window Shop</a></li>
	<li><a href="./mycloset.html" data-text="Etica">My Closet</a></li>
</ul>