<ul>
	<li><a href="/about" data-text="Aesthetica">Aesthetica</a></li>
	<li><a href="/signup" data-text="Aesthetica">Join</a></li>
	<li><a href="/login" data-text="Aesthetica">Login</a></li>
	<li><a href="/window_shop" data-text="Aesthetica">Window Shop</a></li>
	<li><a href="/my_closet" data-text="Aesthetica">My Closet</a></li>
</ul>