<div class="wrapper">
    <div>
        <div>
            {{> _sidenav }}
        </div>
        <div>

            {{!-- Importan UserID to be passed when favorite button is clicked --}}
            {{!--<h1 id="welcome" data-user-id="1">Welcome</h1>--}}
            <div class="head">
                <h1>My Closet</h1>
            </div>

            <div class="row">

                {{#each photos}}

                <div>
                    <img src="{{imageURL}}" alt="" class="w-100">
                    <button type="button" class="btn btn-dark" id="unfavorite">Remove</button>
                </div>

                {{/each}}


            </div>

        </div>
    </div>

</div>