<div class="wrapper">
{{> _sidenav }}
{{!-- Importan UserID to be passed when favorite button is clicked --}}
<h1 id="welcome" data-user-id="1" >Welcome</h1> 
<button id="explore">Explore</button>
<button type="button" class="btn btn-dark women's">Women's Apparel</button>
<button id="favorite">Favorite</button>
<button id="unfavorite">Unfavorite</button>

</div>