<div class="wrapper">

  {{> _sidenav }}

  <div id="content">

    <div class="toggle-btn">

      <button type="button" id="sidebarCollapse" class="btn btn-dark">
        <i class="fas fa-align-left"></i>
        <span></span>
      </button>
    </div>

    {{!-- Importan UserID to be passed when favorite button is clicked --}}
    <h1 class="display-3" id="welcome" data-user-id="1">Window Shop</h1>

    <div class="btn-group searchBtns" role="group">
      <div>
        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Women's</button>

        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a href="/window_shop/womens/fashion" class="dropdown-item women" type="button" id="Apparel">All Apparel</a>
          <a href="/window_shop/womens/shirts" class="dropdown-item women" type="button" id="Top">Tops/Shirts</a>
          <a href="/window_shop/womens/pants" class="dropdown-item women" type="button" id="Pants">Pants/Bottoms</a>
          <a href="/window_shop/womens/dresses" class="dropdown-item women" type="button" id="Dresses">Dresses</a>
          <a href="/window_shop/womens/skirts" class="dropdown-item women" type="button" id="Skirts">Skirts</a>
          <a href="/window_shop/womens/coats" class="dropdown-item women" type="button" id="Coats">Coats</a>
          <a href="/window_shop/womens/jackets" class="dropdown-item women" type="button" id="Jackets">Jackets</a>
          <a href="/window_shop/womens/sportswear" class="dropdown-item women" type="button" id="Sporty">SportsWear</a>
          <a href="/window_shop/womens/bikinis" class="dropdown-item women" type="button"
            id="Swim">Swimsuits/Bikinis</a>
          <a href="/window_shop/womens/lingerie" class="dropdown-item women" type="button"
            id="Lingerie">Lingerie/Intimates</a>
          <a href="/window_shop/womens/accessories" class="dropdown-item women" type="button"
            id="Accessories">Accessories</a>
          <a href="/window_shop/womens/shoes" class="dropdown-item women" type="button" id="Shoes">Shoes</a>
        </div>
      </div>

      <div>
        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Men's</button>

        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a href="/window_shop/mens/fashion" class="dropdown-item men" type="button" id="apparel">All Apparel</a>
          <a href="/window_shop/mens/shirts" class="dropdown-item men" type="button" id="tops">Tops/Shirts</a>
          <a href="/window_shop/mens/pants" class="dropdown-item men" type="button" id="pants">Pants/Bottoms</a>
          <a href="/window_shop/mens/suits" class="dropdown-item men" type="button" id="suits">Suits</a>
          <a href="/window_shop/mens/coats" class="dropdown-item men" type="button" id="coats">Coats</a>
          <a href="/window_shop/mens/jackets" class="dropdown-item men" type="button" id="jackets">Jackets</a>
          <a href="/window_shop/mens/sportswear" class="dropdown-item men" type="button" id="sporty">SportsWear</a>
          <a href="/window_shop/mens/swimsuits" class="dropdown-item men" type="button" id="swim">Swimsuits</a>
          <a href="/window_shop/mens/underwear" class="dropdown-item men" type="button" id="lingerie">Underwear</a>
          <a href="/window_shop/mens/accessories" class="dropdown-item men" type="button"
            id="accessories">Accessories</a>
          <a href="/window_shop/mens/shoes" class="dropdown-item men" type="button" id="shoes">Shoes</a>
        </div>
      </div>
    </div>

    <div class="row">

      {{#each photos}}

      <div class="col-sm-3">
        <img src="{{imageURL}}" class="w-100" data-id="{{public_id}}">
        {{!-- <div class="add"> --}}
        <button type="button" class="btn btn-dark add-to-closet">Add To Closet</button>
        {{!-- </div> --}}

      </div>

      {{/each}}
    </div>

  </div>

</div>