<div class="wrapper">
    <div class="row">
        <div class="col-sm-3">
            {{> _sidenav }}
        </div>
        <div class="col-sm-9">

            {{!-- Importan UserID to be passed when favorite button is clicked --}}
            <h1 id="welcome" data-user-id="1">Welcome</h1>
            <button id="explore">Explore</button>

            <button id="unfavorite">Unfavorite</button>
            <button id="logout">Logout</button>
            <div class="row">

                {{#each photos}}
                
                <div class="col-sm-3">
                    <img src="{{imageURL}}" alt="" class="w-100">
                    <button id="favorite">Favorite</button>
                </div>
                {{/each}}


            </div>

        </div>
    </div>

</div>